*{
  padding: 0;
  margin: 0;
}

body{
  background-color: rgb(18 17 13);
}

.tituloss{

  font-family: 'Heart Breaking Bad', sans-serif;
  color: rgb(185 180 180);

}
h1{
  font-size: 60px;

  text-align: center;
  padding-top:20px;
  margin-bottom: 70px;
}

h1 b{
  font-size: 50px;
  font-family: arial;

  color: rgb(51, 85, 50);
  padding: 3px;
  border: solid 3px rgb(51 85 50);
  margin-right: 3px;
}

h2{
  margin-top: 20px;
  margin-bottom:25px;

  border-bottom: solid 1px rgb(51 85 50);
  font-size: 40px;
}


.container{
  display: flex;
  margin: auto;
  width: 80%;
}

.item{
  margin-right: 10px;
}

.container p{
  padding-right: 30px;
  margin-bottom: 15px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(185 180 180);
}

a{
  color: rgb(51 85 50);
}

.item img{
  width: 500px;
  
  border-radius: 3%;
  /*border: solid 1px rgb(51 85 50);*/
}
